
@media (prefers-color-scheme: light) {
  :root .theme_auto {
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --bg-color: #FFF1F7;
    --page-title-color: #FFC2E6;
    --page-title-shadow-color: #FF8DCB;
    --title-color: #353430;
    --highlighted-accent-text-color: #353430;
    --header-decorated-color: #353430;
    --header-decorated-color-rgb: 53, 52, 48;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  @media (width >= 1024px) {
    :root .theme_auto {
      --page-title-shadow-color: #FF0070;
    }
  }
}

:root .theme_light {
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --bg-color: #FFF1F7;
  --page-title-color: #FFC2E6;
  --page-title-shadow-color: #FF8DCB;
  --title-color: #353430;
  --highlighted-accent-text-color: #353430;
  --header-decorated-color: #353430;
  --header-decorated-color-rgb: 53, 52, 48;
}

.page.theme_light  {
  background-image: url(../images/cover-image-light.png);
}

@media (width >= 1024px) {
  :root .theme_light {
    --page-title-shadow-color: #FF0070;
  }
}

