
.page {
  color: var(--text-color);
  background-color: var(--bg-color, #000028);
  font-family: var(--font, Arial, sans-serif);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: clamp(10px, 2.6vw, 20px);
}

.page-title {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--page-title-color, #DB00FF);
}

.header {
  position: relative;
  margin-bottom: clamp(50px, 11vw, 80px);
}

.decorated-zone::after,
.decorated-zone::before  {
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid var(--header-decorated-color, #FF0070);
}

.decorated-zone::before {
  right: 0px;
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: 0px;
  border-top: none;
  border-right: none;
}

.header__decoration-item {
  display: none;
  position: absolute;
  text-transform: uppercase;
  right: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--header-decorated-color, #FF0070);
}


.header__decoration-item::after {
  content: '';
  display: inline-block;
  height: 9px;
  width: 9px;
  margin-left: 10px;
  margin-bottom: 0.1rem;
  border-radius: 100%;
  background: currentColor;
  box-shadow: 0px 0px 4px 2px currentColor;
}


.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 10px;
  padding: clamp(65px, calc(17.3vw  + 9.8vw - 36.6px), 172px) 0;
}

.header__theme-menu-button {
  color: var(--header-decorated-color, #FF0070);
  min-height: 26px;
  min-width: 70px;
  background-color: inherit;
  border: none;
  font-family: var(--font, Arial, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(var(--header-decorated-color-rgb), 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  box-shadow: 0 1px 0 currentColor;
}

.header__theme-menu-button_active {
  border: solid 1px currentColor;
  cursor: auto;
}

.header__theme-menu-button_active:hover {
  border: solid 1px currentColor;
}

.header__title {
  position: relative;
  right: clamp(0px, 5.2vw - 20px, 20px);
  text-shadow: 4px 4px 0px var(--page-title-shadow-color, #FF0070);
}

.header__text-block {
  --top-botton-padding: clamp(55px, calc(17.3vw  + 9.8vw - 45.6px), 162px);
  padding: var(--top-botton-padding) 0 var(--top-botton-padding) clamp(0px, calc(100% - 375px + 10px), 50%);
}

.header__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.content {
  margin-bottom: clamp(50px, 11vw, 80px);
}

.content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--title-color, #FF0070);
}

.segment {
  margin-bottom: clamp(50px, 11vw, 80px);
}

.segment__title {
  margin-bottom: 20px;
}

.segment__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.clause {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color, #F1B2CE);
}

.clause__title {
  margin-bottom: 10px;
}

.clause__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.clause__subtitle:not(:last-child) {
  margin-bottom: 10px;
}

.clause__title_font-weight {
  font-weight: 400;
}

.images-block__title {
  margin-bottom: clamp(10px, 2.6vw, 20px);
}

.images-block__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.images-block__content {
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 2.6vw, 20px) 0;
}

.content__link {
  text-shadow: 2px 2px var(--accent-color, #FF0070);
  text-decoration: none;
}

.content__link:hover {
  border-bottom: 1px solid currentColor;
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid currentColor;
}

.footer {
  position: relative;
}

.footer__title {
  padding: clamp(275px, 65vw, 442px) 0;
  text-align: center;
  text-shadow: 2px 2px 0px var(--page-title-shadow-color, #FF0070);
}

@media (width >= 768px) {
  .page-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer__title {
    padding: clamp(300px, calc(902px - 60vw), 442px) 0;
  }

  .images-block__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    grid-auto-flow: dense;
    grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  }

  .image-sunset {
    grid-area: sunset;
  }

  .image-ice-cream {
    grid-area: ice-cream;
  }

  .image-tape {
    grid-area: tape;
  }

  .image-books {
    grid-area: books;
  }

  .image-street {
    grid-area: street;
  }

  .content__informatin-block-grid {
    display: grid;
    grid-template-columns: 32% 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "title info"
    ". info";
    gap: 20px;
  }

  .content__informatin-block_grid-template-areas {
    grid-template-areas:
    "title ."
    "info info";
  }

  .segment__content {
    grid-area: info;
  }

  .segment__title {
    grid-area: title;
  }

  .margin_zero {
    margin: 0;
  }
}

@media (width >= 1024px) {
  .content__list_flex-direction .segment__content {
    flex-direction: row;
  }

  .clause {
    flex-basis: fit-content;
  }

  .header__theme-menu-list {
    flex-direction: row;
    padding: 0 0 273px 0;
  }

  .header__text-block {
    padding: 114px 0 114px 50%;
  }
}

.highlighted-accent-color-text {
  background-color: var(--accent-color, #FF0070);
  color: var(--highlighted-accent-text-color, #000028);
}
