:root {
  --font: 'IBM Plex Mono';
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --bg-color: #000028;
  --page-title-color: #DB00FF;
  --page-title-shadow-color: #FF0070;
  --title-color: #FF0070;
  --highlighted-accent-text-color: #000028;
  --header-decorated-color: #FF0070;
  --header-decorated-color-rgb: 255, 0, 112;
}
